<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gang">
    <!--必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--可选权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".logan.DemoApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".LongConnectActivity" />
        <activity android:name=".MyLifeActivity" />
        <activity android:name=".ViewEventActivity" />
        <activity android:name=".FlexActivity" >

        </activity>
        <activity android:name=".logan.LoganActivity" >
        </activity>
        <activity android:name=".mmkv.demo.MMKVActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".aidl.MyService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.github.gang.myservice"/>
            </intent-filter>
        </service>
        <service android:name="com.github.mina.service.LongConnectService" />
        <service
            android:name=".mmkv.demo.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":mmkvdemo_svr">
            <intent-filter>
                <action android:name="com.github.gang.mmkv.demo.MyService"/>
            </intent-filter>
        </service>
        <service
            android:name=".mmkv.demo.MyService_1"
            android:enabled="true"
            android:exported="false"
            android:process=":mmkvdemo_svr_1">
            <intent-filter>
                <action android:name="com.github.gang.mmkv.demo.MyService_1"/>
            </intent-filter>
        </service>

        <provider android:name=".mmkv.demo.MultiProcessSharedPreferences"
            android:authorities=".MultiProcessSharedPreferences"
            android:process=".MultiProcessSharedPreferences"
            android:exported="false">
        </provider>

        <provider
            android:authorities="com.github.gang.mmkv.demo.MMKVContentProvider"
            android:name="com.github.gang.mmkv.MMKVContentProvider"
            android:exported="false">
        </provider>
    </application>

</manifest>